:root 
{
    background-color: rgb(0, 0, 0);
    background-repeat: repeat;
    color: rgb(209, 15, 57);
}
@font-face {
    font-family: 'Arvo-Regular';
    src: url('fonts/Arvo-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans.ttf');
}


body {
    font-family: 'OpenSans', sans-serif;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    background-repeat: repeat;
}

h1 {
    font-family: 'Arvo-Regular', serif;
    text-align: center;
    font-size: 42pt;
    margin: 15px;
}

h2 {
    font-family: 'Arvo-Regular', serif;
    text-align: center;
    font-size: 35pt;
    margin: 10px;
}

nav {
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    width: 90vw;
    margin: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

nav ul li {
    font-family: 'OpenSans', sans-serif;
    font-size: 16pt;
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

iframe {
    border: 2px solid rgb(255, 255, 255);
    margin-top: 20px;
}

.linkreturn a {
    display: block;
    text-align: center;
    margin-top: 20px;
}

/* Table styles */
th, td {
    border: 2px solid rgb(200, 200, 200);
    font-family: 'OpenSans', sans-serif;
}

th {
    font-size: 18pt;
}

td {
    font-size: 14pt;
}

td img {
    height: 18pt;
}

td:nth-child(2), td:nth-child(3) {
    font-size: 20pt;
    text-align: center;
}

section {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}