:root 
{
    background-color: rgb(0, 0, 0);
    background-repeat: repeat;
    color: rgb(231, 247, 12);
}
@font-face {
    font-family: 'Arvo-Regular';
    src: url('fonts/Arvo-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans.ttf');
}


body {
    font-family: 'OpenSans', sans-serif;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    background-repeat: repeat;
}

h1 {
    font-family: 'Arvo-Regular', serif;
    text-align: center;
    font-size: 42pt;
    margin: 15px;
}

h2 {
    font-family: 'Arvo-Regular', serif;
    text-align: center;
    font-size: 35pt;
    margin: 15px;
}

nav {
    border: 2px solid rgb(245, 239, 239);
    text-align: center;
    width: 90vw;
    margin: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

.planephoto {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    display: block;
}

.sidephoto {
    width: 50%;
    height: 50%;
    margin: 2% auto;
    display: block;
}

nav ul li {
    font-family: 'OpenSans', sans-serif;
    font-size: 18pt;
    margin: 0px ;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(67, 25, 253);
    text-decoration: underline;
}

iframe {
    border: 2px solid rgb(25, 255, 255);
    margin-top: 20px;
}

.linkreturn a {
    display: block;
    text-align: center;
    margin-top: auto;
    text-decoration: underline;
}

.side
{
    border: 2px rgb(200, 200, 200) solid;
    width: 30vw;
    background-color: rgb(66, 29, 155);
    float: right;
    text-align: center;
}


th, td {
    border: 2px solid rgb(240, 233, 233);
    font-family: 'OpenSans', sans-serif;
    text-align: center;
    height: 50px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

th {
    font-size: 18pt;
}

td {
    font-size: 14pt;
}

td img {
    height: 18pt;
}

td:nth-child(2), td:nth-child(3) {
    font-size: 20pt;
    text-align: center;
}

section {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
}