body {
  background-color: #000000;
}
img {
  width: 100%;
  border-radius: 10px;
  opacity: 0.9;
  filter: grayscale(50%);
}
p {
  color: rgb(30, 255, 30); 
}
a {
  color: #1e90ff; 
  text-decoration: none;
}

ul {
  list-style-type: square;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
