@font-face 
{
    font-family: 'Roboto';
    src: url(fonts/Roboto-VariableFont_wdth,wght.ttf);
}
@font-face 
{
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
:root
{
  --primary-blue: #0d4d7e;
  --accent-gold: #eaff00;
  --highlight-red: rgb(247, 90, 17);
  --neutral-gray: #919f9f; 
}
body
{
    background-color: var(--primary-blue);
}
*
{
    color: var(--neutral-gray);
    text-align: center;
}
h1
{
    font-size: calc(16pt + 6vw);
    font-family: 'Roboto';
}
h2
{
    font-size: 28pt;
    font-family: 'Roboto';
}
nav
{
    font-family: 'Roboto';
}
#top
{
    border: 12px var(--primary-blue) solid;
    margin: 8vw;
    margin-top: 5px;
}
section
{
    border: 5px var(--accent-gold) solid;
    margin: 18vw;
    margin-top: 10px;
    margin-bottom: 20px;
}
img
{
    width: 50%;
    height: auto;
}
ul
{
    list-style: none;
    padding-left: 0px;
}